body {
	background: url(../img/sample-bg.jpg);
	background-size: cover;
}

.menu-icon {
	max-width: 20px;
	margin-top: 20px;
}

.custom-black-dd {
  background: rgba(0,0,0,.3) !important;
  color: white !important;
  border-radius: 0 !important;
  padding: 20px 5px 20px 5px !important;
  border: none !important;
  left: 10px !important;
}

.custom-black-dd li {
	margin-bottom: 5px;
}

.custom-black-dd li a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
  color: white !important;
  text-transform: uppercase !important;
  font-weight: lighter !important;
  letter-spacing: 2px !important;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -o-transition:      all .5s ease;
     transition:      all .5s ease;  
}

.custom-black-dd li a:hover {
	background: rgba(0,0,0,.4) !important;
}

.home {
	margin-top: 50px;
}

.home .spiel-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

.home .spiel-container span {
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
	line-height: 3;

}

.logo {
	max-width: 500px;
}

.next-button {
	max-width: 40px;
	opacity: .5;
	-webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -o-transition:      all .5s ease;
     transition:      all .5s ease;  
}

.next-button:hover {
	opacity: 1;
}